<!-- Services-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<section class="page-section" id="services">
  <div class="container">
      <div class="text-center">
          <h2 class="section-heading text-uppercase">Servicios</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
      <div class="row text-center">
          <div class="col-md-4">
              <span class="fa-stack fa-4x">
                  <i class="fa-stack"></i>
                  <i class="fas fa-truck fa-stack-2x text-primary"></i>
              </span>
              <h4 class="my-3">Compra en linea</h4>
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          </div>
          <div class="col-md-4">
              <span class="fa-stack fa-4x">
                  <i class="fa-stack"></i>
                  <i class="fas fa-snowflake fa-stack-2x text-primary"></i>
              </span>
              <h4 class="my-3">Monitoreo responsable</h4>
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          </div>
          <div class="col-md-4">
              <span class="fa-stack fa-4x">
                  <i class="fa-stack"></i>
                  <i class="fas fa-shield fa-stack-2x text-primary"></i>
              </span>
              <h4 class="my-3">Seguro</h4>
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          </div>
      </div>
  </div>
</section>

<!-- Herramientas -->
<section class="page-section bg-light" id="herramientas">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Herramientas</h2>
      <h3 class="section-subheading text-muted">Explora las herramientas disponibles en FrigoSense</h3>
    </div>
    <div class="row">
      <!-- Tarjeta de Notas Nutricionales -->
      <div class="col-md-4">
        <div class="card h-100 text-center">
          <div class="card-body">
            <h5 class="card-title">Notas Nutricionales</h5>
            <img src="../../../assets/img/herramientas/nutricion.png" alt="" class="tool-image">
            <p class="card-text">Consulta los macronutrientes de tu comida</p>
            <button class="btn btn-primary" routerLink="/nutricion">Ir</button>
          </div>
        </div>
      </div>
      <!-- Conversor -->
      <div class="col-md-4">
        <div class="card h-100 text-center">
          <div class="card-body">
            <h5 class="card-title">Conversor de unidades</h5>
            <img src="../../../assets/img/herramientas/conversor.png" alt=""class="tool-image">
            <p class="card-text">Convierte aquí las unidades de comida</p>
            <button class="btn btn-primary" routerLink="/conversor">Ir</button>
          </div>
        </div>
      </div>
      <!-- IMC -->
      <div class="col-md-4">
        <div class="card h-100 text-center">
          <div class="card-body">
            <h5 class="card-title">Calculador de IMC</h5>
            <img src="../../../assets/img/herramientas/imc.png" alt="" class="tool-image">
            <p class="card-text">Calcula tu indice de masa corporal</p>
            <button class="btn btn-primary" routerLink="/imc-calculator">Ir</button>
          </div>
        </div>
      </div>
      <!-- Recetas -->
      <div class="col-md-4">
        <div class="card h-100 text-center">
          <div class="card-body">
            <h5 class="card-title">Recetario Gourmet</h5>
            <img src="../../../assets/img/herramientas/recetas.png" alt="" class="tool-image">
            <p class="card-text">Consulta las recetas que desees</p>
            <button class="btn btn-primary" routerLink="/recetas">Ir</button>
          </div>
        </div>
      </div>

      <!-- Puedes agregar más tarjetas aquí -->
    </div>
  </div>
</section>


<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
  <div class="container">
      <div class="text-center">
          <h2 class="section-heading text-uppercase">Portafolio</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
      <div class="row">
          <div class="col-lg-4 col-sm-6 mb-4">
              <!-- Portfolio item 1-->
              <div class="portfolio-item">
                  <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img class="img-fluid" src="../../../assets/img/portfolio/frutas-y-frutos-seco.jpg" alt="..." />
                  </a>
                  <div class="portfolio-caption">
                      <div class="portfolio-caption-heading">Frutas</div>
                      <div class="portfolio-caption-subheading text-muted"></div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4">
              <!-- Portfolio item 2-->
              <div class="portfolio-item">
                  <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img class="img-fluid" src="../../../assets/img/portfolio/verduras.jpg" alt="..." />
                  </a>
                  <div class="portfolio-caption">
                      <div class="portfolio-caption-heading">Verduras</div>
                      <div class="portfolio-caption-subheading text-muted"></div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4">
              <!-- Portfolio item 3-->
              <div class="portfolio-item">
                  <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img class="img-fluid" src="../../../assets/img/portfolio/carnes.jpg" alt="..." />
                  </a>
                  <div class="portfolio-caption">
                      <div class="portfolio-caption-heading">Carnes</div>
                      <div class="portfolio-caption-subheading text-muted"></div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
              <!-- Portfolio item 4-->
              <div class="portfolio-item">
                  <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img class="img-fluid" src="../../../assets/img/portfolio/lacteos.jpg" alt="..." />
                  </a>
                  <div class="portfolio-caption">
                      <div class="portfolio-caption-heading">Lacteos</div>
                      <div class="portfolio-caption-subheading text-muted"></div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
             
          </div>
          <div class="col-lg-4 col-sm-6">
              
          </div>
      </div>
  </div>
</section>


<!-- About-->
<section class="page-section" id="about">
  <div class="container">
      <div class="text-center">
          <h2 class="section-heading text-uppercase">Producto</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
      <ul class="timeline">
          <li>
              <div class="timeline-image"><img class="rounded-circle img-fluid" src="src/app/../../../assets/img/about/gas.jpg" alt="..." /></div>
              <div class="timeline-panel">
                  <div class="timeline-heading">
                     
                      <h4 class="subheading">MQ-2</h4>
                  </div>
                  <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
              </div>
          </li>
          <li class="timeline-inverted">
              <div class="timeline-image"><img class="rounded-circle img-fluid" src="src/app/../../../assets/img/about/temp.jpg" alt="..." /></div>
              <div class="timeline-panel">
                  <div class="timeline-heading">
                      
                      <h4 class="subheading">DHT22</h4>
                  </div>
                  <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
              </div>
          </li>
          <li>
              <div class="timeline-image"><img class="rounded-circle img-fluid" src="src/app/../../../assets/img/about/optico.jpeg" alt="..." /></div>
              <div class="timeline-panel">
                  <div class="timeline-heading">
                      
                      <h4 class="subheading">TCS3200</h4>
                  </div>
                  <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
              </div>
          </li>
          <li class="timeline-inverted">
              <div class="timeline-image"><img class="rounded-circle img-fluid" src="src/app/../../../assets/img/about/esp32.jpg" alt="..." /></div>
              <div class="timeline-panel">
                  <div class="timeline-heading">
                      
                      <h4 class="subheading">ESP32</h4>
                  </div>
                  <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
              </div>
          </li>
          <li class="timeline-inverted">
              <div class="timeline-image">
                  <h4>
                      ¡Se parte
                      <br />
                      de nuestra
                      <br />
                      historia!
                  </h4>
              </div>
          </li>
      </ul>
  </div>
</section>
<!-- Team-->
<section class="page-section bg-light" id="team">
  <div class="container">
      <div class="text-center">
          <h2 class="section-heading text-uppercase">Nuestro equipo</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
      <div class="row">
          <div class="col-lg-4">
              <div class="team-member">
                  <img class="mx-auto rounded-circle" src="../../../assets/img/team/gaby.jpg" alt="..." />
                  <h4>Gabriela De Casas</h4>
                  <p class="text-muted">Lead Designer</p>
                  <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Twitter Profile"><i class="fab fa-twitter"></i></a>
                  <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                  <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="team-member">
                  <img class="mx-auto rounded-circle" src="../../../assets/img/team/nancy.jpg" alt="..." />
                  <h4>Nancy Mancha</h4>
                  <p class="text-muted">Lead Marketer</p>
                  <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Twitter Profile"><i class="fab fa-twitter"></i></a>
                  <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                  <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="team-member">
                  <img class="mx-auto rounded-circle" src="../../../assets/img/team/martha.jpg" alt="..." />
                  <h4>Martha Andrade</h4>
                  <p class="text-muted">Lead Developer</p>
                  <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Twitter Profile"><i class="fab fa-twitter"></i></a>
                  <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                  <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p></div>
      </div>
  </div>
</section>


<!-- Clients-->
<div class="py-5">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-md-3 col-sm-6 my-3">
              <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="../../../assets/img/logos/microsoft.svg" alt="..." aria-label="Microsoft Logo" /></a>
          </div>
          <div class="col-md-3 col-sm-6 my-3">
              <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="../../../assets/img/logos/google.svg" alt="..." aria-label="Google Logo" /></a>
          </div>
          <div class="col-md-3 col-sm-6 my-3">
              <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="../../../assets/img/logos/facebook.svg" alt="..." aria-label="Facebook Logo" /></a>
          </div>
          <div class="col-md-3 col-sm-6 my-3">
              <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="../../../assets/img/logos/ibm.svg" alt="..." aria-label="IBM Logo" /></a>
          </div>
      </div>
  </div>
</div>


<!-- Contact-->
<section class="page-section" id="contact">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Contáctanos</h2>
      <h3 class="section-subheading text-muted">¿Tienes dudas? Envíanos un mensaje.</h3>
    </div>

    <form id="contactForm">
      <div class="row align-items-stretch mb-5">
        <div class="col-md-6">
          <div class="form-group mb-3">
            <!-- Nombre -->
            <input class="form-control" name="name" [(ngModel)]="nombre" required placeholder="Tu nombre" />
          </div>
          <div class="form-group mb-3">
            <!-- Email -->
            <input class="form-control" name="email" [(ngModel)]="email" required placeholder="Tu correo" />
          </div>
          <div class="form-group mb-3">
            <!-- Teléfono -->
            <input class="form-control" name="phone" [(ngModel)]="telefono" required placeholder="Tu teléfono" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group form-group-textarea mb-md-0">
            <!-- Mensaje -->
            <textarea class="form-control" name="message" [(ngModel)]="mensaje" required placeholder="Tu mensaje"></textarea>
          </div>
        </div>
      </div>
      <!-- Botón de envío -->
      <div class="text-center">
        <button type="button" class="btn btn-primary btn-xl text-uppercase" (click)="enviarContacto()">Enviar Mensaje</button>
      </div>
      <div class="text-center mt-3" *ngIf="respuesta">
        <p class="text-success fw-bold">{{ respuesta }}</p>
      </div>
    </form>
  </div>
</section>
